.wrapper {
  flex: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: calc(70px + 4vw); 
  padding-bottom: calc(60px + 1vw);
  background-image: url("../images/spiration dark.png");
}

nav {
  background-color: #4aaaa5;
  border-bottom: 8px double #d8d8d8;
}



.panel-background{
  background-color: #fff;
  border: 1px solid #eee;
  padding: 5%;
}

.card {
  position: relative;
  border: 0;
}

.card-body {
  background-color: #4aaaa5;
  position: absolute;
  width: 100%;
  top: calc(85% - 1.5em);
}

.card-title {
  margin: 0;
  line-height: 1.5em;
}

.card a {
  text-decoration: none; 
}
html {
  position: absolute;
  width: 100%;
  min-width: 400px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 400px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px; 
  background-color: #666;
}
footer p {
  margin-bottom: 0;
  color: #999;
  font-size: calc(10px + 0.5vw); 
}


.navbar-brand {
  font-size: 26px;
  line-height: 40px;
  padding: 10px 0 5px 15px;
}

h2, h4, .navbar-brand {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a, h3,h5 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  font-size: calc(16px + 1vw); 
  color: #4aaaa5;
}

h3 {
  font-size: calc(14px + 1vw);
  text-align: center;
}

h4 {
  font-size: calc(14px + 0.5vw); 
  color: #4aaaa5;
}

h5 {
  color: #fff;
  font-size: calc(14px + 0.5vw);
  text-align: center;
}

p {
  font-size: calc(12px + 0.5vw);
  color: #777; 
}

aside img {
  width: 100%;
}

aside img:hover {
  filter: drop-shadow(8px 8px 8px grey);
}

